<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head') %>
</head>
<body class="container">

  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <div class="jumbotron">
            <h1>Module <%= modnum%></h1>
            <p>Bienvenue au module <?php echo $_POST["module"]; ?>  !</p>
            <% if (modState) { %>
              <p>Ce module est activé.</p>
            <% } else { %>
              <p>Ce module est éteint.</p>
            <% } %>
        <p><a href="/">Retour à l'acceuil</a></p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

</body>
</html>